
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

<div class="row offset-2">
    <div class="jumbotron col-md-4" id="Services" style="margin:45px;">
        <h2>Deck Building and Design</h2>
        <p>
            List of the services
        </p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("DeckBuilding","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-4" id="Services" style="margin:45px;">
        <h2>General Contracting</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("GeneralContracting","Services")">Learn more &raquo;</a></p>
    </div>

</div>

<div class="row offset-1">
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Additions</h2>
        <p>
            List of the services
        </p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Additions","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Doors</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Doors","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Finish Work</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("FinishWork","Services")">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row offset-1">
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Concrete </h2>
        <p>
            List of the services
        </p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Concrete","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Flooring</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Flooring","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Framing</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Framing","Services")">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row offset-1">
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>New Construction</h2>
        <p>
            List of the services
        </p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("New Construction","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Painting</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Painting","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Remodels</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Remodels","Services")">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row offset-1">
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Roofing</h2>
        <p>
            List of the services
        </p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Roofing","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Siding</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Siding","Services")">Learn more &raquo;</a></p>
    </div>
    <div class="jumbotron col-md-3" id="Services" style="margin:45px;">
        <h2>Windows</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" id="test" href="@Url.Action("Windows","Services")">Learn more &raquo;</a></p>
    </div>
</div>